doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/Morphext/dist/morphext.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Anton|Open+Sans+Condensed:300')
    script(src="/socket.io/socket.io.js")
  body
    block content
